{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column mx-4 my-4">
    <h3 class="text-center text-secondary">Restablece tu contraseña</h3>
    <form method="post" class="needs-validation mx-4 col-8 align-self-center" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_password" class="form-label">Nueva contraseña:</label>
      <input class="form-control" type="password" name="password" id="id_password" required="true" maxlength="20" autocapitalize="none" autocomplete="off">
      <div id="emailHelp" class="form-text">150 carácteres como máximo. Únicamente letras, dígitos y @/./+/-/_</div>
      <div id="emailHelp" class="form-text">Debe incluir al menos un simbolo, una mayuscula y un numero</div>
      {%if message%}
        <div id="emailHelp" class="form-text">{{message}}</div>
      {%endif%}
    </div>
    <div class="mb-3">
      <label for="id_confirm_password" class="form-label">Confirmar contraseña:</label>
      <input type="password" name="confirm_password" id="id_confirm_password" class="form-control" type="password" required="true" maxlength="20" autocapitalize="none" autocomplete="off" >
    </div>
    <button type="submit" class="button btn btn-dark  adoptButton">Restablecer contraseña</button>

  </form>
</div>
{%endblock%}