{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mt-2">Restablecimiento de contraseña</h2>
<p class="text-center mt-1">Ingresa tu dirección de correo electrónico para recibir instrucciones sobre cómo restablecer tu
  contraseña:</p>
<div class="d-flex flex-column mx-4 my-4">
  <form method="post" class="needs-validation mx-4 col-8 align-self-center" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="text" name="email" maxlength="150" autocapitalize="none" autocomplete="off" autofocus=""
        class="form-control" required="true" id="id_email">
      {%if message %}
      <div id="emailHelp" class="form-text">{{message}}</div>
      {% else %}
      <div id="emailHelp" class="form-text">Ingrese un email valido</div>
      {% endif %}
    </div>
    <button type="submit" class="button btn btn-dark  adoptButton">Enviar</button>
  </form>
</div>


{% endblock %}