{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container-fluid">
        <h1 class="text-center">
            ¡Bienvenidos a Mis Perris!
        </h1>

        <p class="text-center">
                        Somos una ONG dedicada al rescate, cuidado y protección de animales domésticos, especialmente perros, que han sido abandonados, maltratados o se encuentran en situación de riesgo. Creemos firmemente en que todos los seres vivos merecen un trato digno y respetuoso, y por eso trabajamos incansablemente para darles una segunda oportunidad.

            Nuestra organización se compone de un equipo de voluntarios comprometidos con la causa animal, que dedican su tiempo y esfuerzo para brindar a nuestros peludos amigos el cuidado que necesitan. Nos enfocamos en su alimentación, higiene, atención médica y, sobre todo, en encontrarles hogares amorosos y responsables.

            Desde nuestra fundación, hemos logrado rescatar a cientos de perros que hoy en día tienen una vida mejor gracias a nuestro trabajo. Sin embargo, aún queda mucho por hacer, y estamos seguros de que con el apoyo de la comunidad podremos seguir adelante en nuestra labor.

            En esta sección de Quiénes Somos, queremos compartir con ustedes nuestra historia, nuestros valores y nuestra visión para el futuro. ¡Únete a nosotros y ayúdanos a seguir haciendo la diferencia en la vida de estos maravillosos seres!
        </p>
        <div class="container-fluid">
            <img src="{% static 'img/perro.png' %}"  alt="" class="img-fluid">
        </div>

 </div>
{% endblock %}